.option {
    display: flex;
    width: 100%;
    min-height: 50px;
    border-top: 1px solid gray;
}

.description {
    width: 80%;
    place-content: center;
    vertical-align: center;
    padding: 1vh;
}

button {
    background-color: transparent;
    border-width: 0;
    width: 20%;
}